<form>
    <h1 mat-dialog-title>
      Create Note
    </h1>
  
    <div class="content">
      <mat-form-field appearance="fill">
        <h2>Title</h2>
        <input
          matInput
          [(ngModel)]="titleField"
          name="title"
          required
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <h2>Text</h2>
        <textarea
          matInput
          rows="3"
          [(ngModel)]="textField"
          name="text"
        ></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <h2>Tags</h2>
        <input
          matInput
          [(ngModel)]="tagsField"
          name="tags"
        />
      </mat-form-field>
    </div>
  
    <div class="actions">
      <button mat-button type="button" (click)="onCancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        type="submit"
        (click)="onCommand()"
        [disabled]="titleField === ''"
      >
        Add
      </button>
    </div>
  </form>
  
