:host {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color: #e5e5e5;
    color: #929292;
}
  
.center {
    align-items: center;
    justify-content: start;
    padding: 20px 0 0 20px;
    width: 800px;
}