:host {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-flow: row;
}

.left {
  width: 30%;
}

.center {
  align-items: start;
  justify-content: start;
  padding: 14px 0 15px;
  width: 600px;
}